html {
    font-size: 62.5%;
    /**Reset para REMS - 62.5% = 10px de 16px**/
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}



/**GLobales**/
img {
    max-width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/**Utilidades**/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block !important;
}

.contenido-centrado {
    max-width: 80rem;
}


/**Site Header y nav**/

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio{
    background-image: url(../img/ropa-header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.barra {
    margin: 1.5rem .8rem;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
     
}

.nav-genero a {
    margin: 1rem .5rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 2.2rem;}

.nav-login a {
    margin: 1rem .5rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 2.2rem;
}

/**Categorias**/
.categorias-seccion {
    padding: 0;
    min-height: 38rem;
}
.categorias-seccion h2{
    color: #f5f5f5;
    background-color: #D91619;
    margin: 0;
}

.categorias {
    display: flex;
    flex: 0 0 calc(20%-1rem);
    justify-content: space-between;
    margin-top: 1rem;

}

.categoria {
    border: 1px solid #b5b5b5;
    margin: 0 auto;
    width: 20rem;
}
.categoria img {
    max-height: 10rem;
    display: block;
    margin: .5rem auto;
}

/*Que ponerte hoy**/
.lo-nuevo h2 {
    background-color: #F00C50;
    color: #f5f5f5;
    margin-top: 0;
}


/**Lo nuevo **/
.tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 calc(33.3%-1rem);
}

.tarjeta {
    width: 20rem;
}